<section class="share">
    <p class="backtotop"><a data-scroll href="#site-head"><i class="fa fa-lg fa-fw fa-angle-double-up"></i></a><a data-scroll class="backtotoptext" href="#site-head"> {{ .Site.Params.backtotopStr }}</a></p>
    <p class="info prompt">{{ .Site.Params.shareStr }}</p>
    <a href="http://twitter.com/intent/tweet?text={{ .Title }}&url={{ .Permalink }}" title="Share on Twitter">
        <i class="fa fa-2x fa-fw fa-twitter-square"></i> <span class="hidden">Twitter</span>
    </a>
</section>